<section>
    <h3>About Myself</h3>
    <div class="face-area">
        <div class="face-img"></div>
        <div class="icon-android">{% include icons/icon-android.html %}</div>
        <div class="icon-code">{% include icons/icon-code.html %}</div>
        <div class="icon-light">{% include icons/icon-light.html %}</div>
        <div class="icon-chat">{% include icons/icon-chat.html %}</div>
    </div>
    <div class="summary">
        <p>
            Hi, I am a college student from Taiwan. Keen to learn a variety of knowledge about the computer programming. So I have come
            across many programming languages and also have some practical experience. I may not have a deep foundation,
            but I love to try new things!
        </p>
    </div>
    <div class="skill-area">
        <div class="skill-unit">
            <div class="skill-label">Communication</div>
            <div class="skill-range rank-7">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Teamwork</div>
            <div class="skill-range rank-8">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Creative Thinking</div>
            <div class="skill-range rank-9">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Problem Solving</div>
            <div class="skill-range rank-8">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Learning</div>
            <div class="skill-range rank-9">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Programming</div>
            <div class="skill-range rank-6">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
    </div>
</section>