<section class="alt-section">
    <h3 id="#collection">Collection</h3>
    <div class="trumb-container">
        {% for project in site.data.setting.collections %}
        <a href="" class="trumb-unit" style="background-image:url(assets/img/collections/{{project.folder}}/trumb.png)">
            <div class="trumb-overlay">
                <div class="trumb-name">{{project.name}}</div>
                <div class="trumb-type">{{project.type}}</div>
                <div class="learn-more-icon">{% include icons/icon-zoom.html %}</div>
            </div>
        </a>
        {% endfor %}
    </div>
</section>