<section class="alt-section">
    <h3 id="#collection">Collection</h3>
    <div class="trumb-container">
        {% for project in site.data.setting.collections %}
        <div class="trumb-unit">
            <img class="trumb-image" src='./assets/img/collections/{{project.folder}}/trumb.png'></img>
            <div class="trumb-name">{{project.name}}</div>
            <div class="trumb-line"></div>
            <div class="trumb-description">{{project.description}}</div>
            <a href="" class="trumb-more">
                <div class="trumb-more-icon">{% include icons/icon-zoom.html %}</div>   
                <div class="trumb-more-text">learn more</div>     
            </a>
            
        </div>
        {% endfor %}
    </div>
</section>