<footer>
    <div class="lockup">
        <div class="logo">{% include icons/logo.html %}</div>
        <div class="content-wrap">
            <nav>
                <a href="">About</a>
                <a href="">Skill</a>
                <a href="">Experience</a>
                <a href="">Collection</a>
                <a href="">Contact</a>
            </nav>
            <p class="copyright">All content copyright 2016</p>
            <p class="last_modify">Last Modified: {{ page.last_modified_at }}</p>
        </div>
    </div>

</footer>